# Maven
target/

# IntelliJ
.idea/
*.iml
*.xml.bak

# Propriedades com credenciais
application-dev.yaml
application-prod.yaml
.env

# Chave SSH
*.pem

# Sistema operacional
.DS_Store
Thumbs.db

# Logs
*.log
logs/